/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root color variables for light and dark modes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply background and text colors */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* Center and style the container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Make the grid flexible for book cards */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2em;
  margin-top: 30px;
  padding: 20px;
}

/* Card style */
.card-container {
  background-color: #fff;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.card-container:hover {
  transform: scale(1.05);
}

/* Description styles */
.desc {
  padding: 10px;
}

.desc h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  margin: 10px 0;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

/* No records text styling */
.no-records {
  text-align: center;
  color: #ccc;
  font-size: 1.5em;
  margin-top: 30px;
}
