name: GitHub Actions Deploy Preview

on:
  push:
    branches: ["main"]

jobs:
  test:
    uses: ENSE7011/Assignment-1/.github/workflows/lint-build-test.yml@main

  deploy-preview-backend:
    needs: test
    uses: ENSE7011/Assignment-1/frontend/deploy-vercel-preview.yml@main

  deploy-preview-frontend:
    needs: deploy-preview-backend
    uses: ENSE7011/Assignment-1/backend/deploy-vercel-preview.yml@main
