name: GitHub Actions Deploy Backend To Vercel Preview
env:
  VERCEL_ORG_ID: team_yvQ4u76TKmU15P6zyHzRNwZk
  VERCEL_PROJECT_ID: prj_15ij1go4CC0jnmkrbMWHHm4F2db6

on:
  workflow_call:

jobs:
  deploy-preview-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v3
      - name: install vercel cli node.js
        run: npm install --global vercel@canary
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=nhfeo0HOUa6eEw5SGQsvpXHe
      - name: Build Project Artifacts
        run: vercel-build --token=nhfeo0HOUa6eEw5SGQsvpXHe
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=nhfeo0HOUa6eEw5SGQsvpXHe
